button {
    margin-right: 20px;
}

#count {
    align-items: center;
    font-weight: bold;
    display: inline-block;
}

#logo {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/holberton-logo.png);
}  